# Target
CONFIG_IDF_TARGET="esp32c6"

# Pin assignments for NanoESP32-C6
CONFIG_LCD_SPI_SCLK_GPIO=6
CONFIG_LCD_SPI_MOSI_GPIO=7
CONFIG_LCD_CS_GPIO=20
CONFIG_LCD_DC_GPIO=21
CONFIG_LCD_RST_GPIO=22
CONFIG_LCD_BKL_GPIO=23
CONFIG_LCD_SPI_CLOCK_MHZ=20
