# Target
CONFIG_IDF_TARGET="esp32s3"

# Pin assignments for ESP32-S3
CONFIG_LCD_SPI_SCLK_GPIO=11
CONFIG_LCD_SPI_MOSI_GPIO=10
CONFIG_LCD_SPI_MISO_GPIO=13
CONFIG_LCD_CS_GPIO=3
CONFIG_LCD_DC_GPIO=9
CONFIG_LCD_RST_GPIO=46
CONFIG_LCD_BKL_GPIO=12
CONFIG_LCD_SPI_CLOCK_MHZ=40

# Flash
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y

# LVGL configuration
CONFIG_LV_COLOR_DEPTH_24=y
CONFIG_LV_FONT_MONTSERRAT_28=y
